.header{
    background-color: #f7ca18;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);
}